@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Arvo');


$font-quicksand:'Quicksand', sans-serif;
$font-montserrat:'Montserrat', sans-serif;
$font-source-pro:'Source Sans Pro', sans-serif;
$font-lato:'Lato', sans-serif;
$font-raleway:'Raleway', sans-serif;
$font-arvo:'Arvo', serif;

