body,html{
    margin: 0px;
    padding: 0px;
}

body{
    @if $theme {
        background-color: $color-theme-lightgrey;
    }
}

@mixin container-width-sml-definition($container){
    @if $container == "" {
        width: 90%;
    }
    @if $container == "-full" {
        width: 100%;
    }
    @if $container == "-sb-left" or $container "sb-right"{
        max-width: 100%;
    }
}

@mixin container-width-xl-definition($container){
    @if $container == "" {
        width: 80%;
    }
    @if $container == "-full" {
        width: 100%;
    }
    @if $container == "-sb-left" or $container "sb-right"{
        max-width: 100%;
    }
}

@mixin container-width-xxl-definition($container){
    @if $container == "" {
        width: 70%;
    }
    @if $container == "-full" {
        width: 100%;
    }
    @if $container == "-sb-left" or $container "sb-right"{
        max-width: 100%;
    }
}

@mixin sidebar-margin-definition($position){
    @media (max-width: $break-small){
        @if $position == "-sb-left"{
            margin-left:$sidebar-width-small;
        }@else{
            margin-right-right:$sidebar-width-small;
            float: right;
        }
    }
    @media (max-width: $break-medium){
        @if $position == "-sb-left"{
            margin-left:$sidebar-width-medium;
        }@else{
            margin-right:$sidebar-width-medium;
            float: right;
        }
    }
    @media (max-width: $break-large) and (min-width: $break-medium){
        @if $position == "-sb-left"{
            margin-left:$sidebar-width-large;
        }@else{
            margin-right:$sidebar-width-large;
        }
    }
    @media (min-width: $break-large){
        @if $position == "-sb-left"{
            margin-left:$sidebar-width-x-large;
        }@else{
            margin-right:$sidebar-width-x-large;
        }
    }
}

$container-kind:"","-full","-sb-left","-sb-right";

@each $container in $container-kind{
    .container#{$container}{
        @if $theme{
            background-color: white;
        }
        @if $debug {
            outline:1px solid $color-grid-container;
        }
        @if $container == "-sb-left" or $container == "-sb-right" {
            @include sidebar-margin-definition(#{$container})
        }@else{
            margin-right: auto;
            margin-left: auto;
        }
        @media (max-width: $break-small){
            width: 100%;
        }
        @media (max-width: $break-medium){
            width:100%;
        }
        @media (max-width: $break-large) and (min-width: $break-medium){
            @include container-width-sml-definition(#{$container})
        }
        @media (min-width: $break-large) and (max-width: $break-x-large){
            @include container-width-xl-definition(#{$container})
        }
        @media (min-width: $break-x-large){
            @include container-width-xxl-definition(#{$container})
        }
    }
}


@mixin col-size($cols){
    width: calc(100%  / #{$cols});
}

@for $qty from 1 through 12 {
    .col-#{$qty}{
        @if $debug {
            min-height: 10rem;
            outline:1px solid $color-grid-col;
        }
        @if $theme {
            background-color: white;
        }
        @media (max-width: $break-small){
            width:100%;
            display:block;
        }
        @media (max-width: $break-medium) and (min-width: $break-small){
            width: 100%;
            display:block;
        }
        @media (max-width: $break-large) and (min-width: $break-medium){
            float:left;
            @include col-size(#{$qty});
        }
        @media (min-width: $break-large) and (max-width: $break-x-large){
            float:left;
            @include col-size(#{$qty});
        }
        @media (min-width: $break-x-large){
            float:left;
            @include col-size(#{$qty});
        }
    }
}