.sidebar {
    @if $debug {
        outline: 1px solid $color-grid-sidebar;
    }
    position: fixed;
    height: 100%;
    @media (max-width: $break-small) {
        width: 2em;
    }
    @media (max-width: $break-medium) {
        width: 3em;
    }
    @media (max-width: $break-large) and (min-width: $break-medium) {
        width: 6em;
    }
    @media (min-width: $break-large) {
        width: 8em;
    }
}